
{% extends "Navbar.html" %}




{% load static %}

{% block content %}



<form action="{% url "TableModification" redir='cm' modelTable='cm'  %}" class="form justify-content-center align-items-center" method="post">
 {% csrf_token %}
  <div class="form-group row">
    <div class="col-sm-6">
    <label for="ledger">Company Name</label>
    <input type="text" name="companyname" class="form-control" id="companyname" aria-describedby="companyname" placeholder="companyname">
  </div>

  <div class="col-sm-6">
    <label for="Phone">Phone</label>
    <input type="text" name="phone" class="form-control" id="phone" placeholder="Phone No">
  </div>
  </div>

 

  <div class="form-group row">
    <div class="col-sm-6">
    <label for="address">Address</label>
    <input type="text" name="address" class="form-control" id="address" placeholder="Address">
    </div>

    

    <div class="col-sm-6">
      <label for="Contact No">State</label>
      <select class="selectpicker form-control" id="state" placeholder="state" name="state" data-live-search="true">
        {% for data in state  %}
        <option value={{data.code}}>{{data.state}}</option>
        {% endfor %}
       
       
        </select>

    </div>
  </div>


  
  <div class="form-group row">
    <div class="col-sm-6">
    <label for="district">district</label>
    <input type="text" name="district" class="form-control" id="district" placeholder="district">
    </div>

    <div class="col-sm-6">
      <label for="gst">gst</label>
      <input type="text" name="gst" class="form-control" id="gst" placeholder="gst">
    </div>

  </div>

 

  <div class="form-group m-4   text-right">
  <button type="submit" class="btn btn-secondary mt-2">Submit</button>
  </div>

</form>





<script type="text/javascript" src="{% static '/js/company.js' %}"></script>
{% endblock content %}

